In [94]:
import os
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.style as style
import numpy as np
import pandas as pd
import plotly.express as px
import seaborn as sns
from scipy import stats
import warnings


from lightgbm import LGBMClassifier
from sklearn import metrics
from sklearn import model_selection
from sklearn import preprocessing
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import plot_confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor
from xgboost import XGBClassifier
from xgboost.sklearn import XGBRegressor
from catboost import CatBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor,AdaBoostRegressor,BaggingRegressor, RandomForestRegressor
from sklearn.neural_network import MLPRegressor
import xgboost as xgb

In [95]:
df = pd.read_csv('train-data.csv')
test = pd.read_csv('test-data.csv')

# Data Preprocessing

In [96]:
test.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price
0,0,Maruti Alto K10 LXI CNG,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0,NaN
1,1,Maruti Alto 800 2016-2019 LXI,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0,NaN
2,2,Toyota Innova Crysta Touring Sport 2.4 MT,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0,25.27 Lakh
3,3,Toyota Etios Liva GD,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0,NaN
4,4,Hyundai i20 Magna,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0,NaN

In [97]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [98]:
print(f"Rows in dataset are : {df.shape[0]} \nColumns in dataset are : {df.shape[1]}")

Rows in dataset are : 6019
Columns in dataset are : 14

In [99]:
df.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  6019.000000  6019.000000       6.019000e+03  5977.000000  6019.000000
mean   3009.000000  2013.358199       5.873838e+04     5.278735     9.479468
std    1737.679967     3.269742       9.126884e+04     0.808840    11.187917
min       0.000000  1998.000000       1.710000e+02     0.000000     0.440000
25%    1504.500000  2011.000000       3.400000e+04     5.000000     3.500000
50%    3009.000000  2014.000000       5.300000e+04     5.000000     5.640000
75%    4513.500000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [100]:
df.shape

(6019, 14)

In [101]:
test.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats
count  1234.000000  1234.000000        1234.000000  1223.000000
mean    616.500000  2013.400324       58507.288493     5.284546
std     356.369424     3.179700       35598.702098     0.825622
min       0.000000  1996.000000        1000.000000     2.000000
25%     308.250000  2011.000000       34000.000000     5.000000
50%     616.500000  2014.000000       54572.500000     5.000000
75%     924.750000  2016.000000       75000.000000     5.000000
max    1233.000000  2019.000000      350000.000000    10.000000

In [102]:
test.shape

(1234, 13)

In [103]:
listtrain = df['Name']
listtest = test['Name']
print("Missing values in first list:", (set(listtest).difference(listtrain)))

Missing values in first list: {'Mahindra KUV 100 D75 K8 5Str', 'Toyota Corolla Altis GL', 'Nissan Micra XL CVT', 'Tata Indica Vista Terra 1.2 Safire BS IV', 'Honda Civic 2010-2013 1.8 V AT', 'Hyundai i20 new Sportz AT 1.4', 'Mahindra Scorpio VLX 2WD BSIII', 'Maruti Wagon R VXI AMT Opt', 'Hyundai Accent GLX', 'Chevrolet Enjoy 1.4 LTZ 8', 'Hyundai i20 1.4 Asta AT (O) with Sunroof', 'Mercedes-Benz A Class Edition 1', 'Volkswagen Vento 1.2 TSI Comfortline AT', 'Chevrolet Enjoy Petrol LTZ 7 Seater', 'Isuzu MU 7 4x2 HIPACK', 'OpelCorsa 1.4Gsi', 'Chevrolet Spark 1.0 PS', 'Nissan Teana XL', 'Honda Civic 2010-2013 1.8 S MT Inspire', 'Mahindra Scorpio VLX Special Edition BS-IV', 'Maruti SX4 ZXI AT', 'Mercedes-Benz S Class 2005 2013 320 L', 'Mahindra Xylo H9', 'Maruti Ignis 1.2 AMT Delta', 'Maruti Ertiga VXI Petrol', 'Mahindra TUV 300 2015-2019 T8 AMT', 'Volkswagen Vento 1.6 Trendline', 'Renault Duster 85PS Diesel RxZ', 'Tata Tiago AMT 1.2 Revotron XTA', 'Fiat Punto EVO 1.3 Emotion', 'Mahindra Scorpio S10 8 Seater', 'Tata Indica V2 DiCOR DLG BS-III', 'Skoda Rapid Ultima 1.6 TDI Ambition Plus', 'Toyota Innova 2.5 GX 8 STR', 'Hyundai Xcent 1.2 CRDi SX', 'Hyundai Accent Executive LPG', 'Datsun GO T Petrol', 'Mercedes-Benz E-Class 250 D W 124', 'Maruti Ritz VDi ABS', 'Tata Indica Vista Aqua 1.2 Safire', 'BMW 7 Series 740i Sedan', 'Renault Lodgy 110PS RxL', 'Mahindra Xylo E9', 'Toyota Innova 2.0 V', 'Fiat Linea Dynamic', 'Hyundai Creta 1.6 SX Automatic', 'BMW 3 Series GT 320d Sport Line', 'Skoda Octavia 2.0 TDI MT Style', 'Mahindra Bolero SLX', 'Honda Mobilio V i VTEC', 'Tata Indica Vista Quadrajet LX', 'Mahindra TUV 300 P4', 'Ford Endeavour 3.0L AT 4x2', 'Volvo S60 D5 Kinetic', 'Honda BRV i-DTEC V MT', 'Toyota Etios Liva Diesel TRD Sportivo', 'Chevrolet Enjoy 1.3 TCDi LTZ 7', 'Renault Pulse RxZ', 'Tata Indica Vista Aqua TDI BSIII', 'Hyundai i20 Active SX Diesel', 'Hyundai EON 1.0 Era Plus', 'Tata Indica Vista Terra Quadrajet 1.3L BS IV', 'Jaguar XF 2.0 Petrol Portfolio', 'Hyundai Verna Transform VTVT with Audio', 'Volkswagen Vento 1.5 TDI Highline Plus AT', 'Hyundai Santro Xing GLS CNG', 'Bentley Flying Spur W12', 'Maruti 800 DX', 'Hyundai EON 1.0 Kappa Magna Plus', 'Mercedes-Benz GLA Class 220 d 4MATIC', 'Fiat Abarth 595 Competizione', 'Maruti Ciaz VDi Option SHVS', 'Toyota Camry MT with Moonroof', 'Audi Q3 30 TDI S Edition', 'Chevrolet Sail Hatchback 1.2', 'Hyundai Elantra GT', 'Ford Fiesta Classic 1.6 Duratec LXI', 'Land Rover Discovery 4 TDV6 Auto Diesel', 'Mitsubishi Pajero Sport 4X2 AT', 'Mahindra Verito Vibe 1.5 dCi D6', 'Mahindra KUV 100 mFALCON D75 K2', 'Tata Manza Club Class Safire90 LX', 'Honda City ZX VTEC Plus', 'Ford Fiesta Classic 1.6 SXI Duratec', 'Fiat Grande Punto 1.2 Emotion', 'Toyota Etios Cross 1.2L G', 'Mahindra KUV 100 G80 K4 Plus 5Str', 'Maruti Swift VVT ZXI', 'Audi Q5 2008-2012 3.0 TDI Quattro', 'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Tata Tiago 1.05 Revotorq XT Option', 'Ford Fiesta 1.4 SXI Duratorq', 'Honda Jazz 2020 Petrol', 'Hyundai Verna 1.4 CX', 'Honda Amaze E i-DTEC', 'Maruti Vitara Brezza ZDi Plus AMT', 'Toyota Land Cruiser Prado VX L', 'Mahindra Scorpio VLS 2.2 mHawk', 'Tata Sumo EX 10/7 Str BSII', 'Hyundai Santro Xing XG AT eRLX Euro III', 'BMW X3 2.5si', 'Honda Jazz VX CVT', 'Hyundai Elite i20 Magna Plus', 'Mahindra KUV 100 mFALCON G80 K4 5str', 'Chevrolet Enjoy TCDi LS 7 Seater', 'BMW 5 Series 530i Sport Line', 'Fiat Avventura FIRE Dynamic', 'Ford Freestyle Titanium Plus Diesel', 'Hyundai Sonata Embera 2.4L MT', 'Hyundai Creta 1.6 SX Diesel', 'Maruti A-Star Zxi', 'Hyundai Tucson 2.0 e-VGT 4WD AT GLS', 'BMW 7 Series 730Ld DPE Signature', 'Fiat Linea Classic 1.3 Multijet', 'Volkswagen Jetta 2007-2011 1.6 Trendline', 'Skoda Laura 1.8 TSI Ambition', 'Toyota Innova 2.5 LE 2014 Diesel 8 Seater', 'Ford Classic 1.4 Duratorq CLXI', 'Honda BR-V i-DTEC S MT', 'Volkswagen Polo ALLSTAR 1.2 MPI', 'Skoda Laura 1.9 TDI MT Elegance', 'Mahindra KUV 100 mFALCON D75 K6 5str AW', 'Honda CR-V Diesel', 'Mahindra Bolero Power Plus ZLX', 'Land Rover Discovery 4 SDV6 SE', 'Maruti Vitara Brezza ZDi AMT', 'Land Rover Range Rover HSE', 'Hindustan Motors Contessa 2.0 DSL', 'Jeep Compass 1.4 Sport', 'Tata Tigor 1.2 Revotron XZ Option', 'Volkswagen CrossPolo 1.2 TDI', 'Maruti Swift AMT ZXI', 'Nissan 370Z AT', 'Honda Accord 2001-2003 2.3 VTI L MT', 'Renault Koleos 4X2 MT', 'Maruti Versa DX2', 'Skoda Laura L and K MT', 'Land Rover Freelander 2 S Business Edition', 'Skoda Superb Petrol Ambition', 'Mercedes-Benz B Class B180 Sports', 'Toyota Etios Liva 1.4 VXD', 'Nissan Terrano XE 85 PS', 'Hyundai i20 2015-2017 1.4 CRDi Sportz', 'Maruti Celerio X VXI Option', 'Mercedes-Benz CLA 45 AMG', 'Honda WRV i-DTEC VX', 'Honda City i DTec VX Option BL', 'Maruti Alto XCITE', 'Hyundai i20 2015-2017 Magna Optional 1.4 CRDi', 'Hyundai Verna Transform SX VGT CRDi BS III', 'Hyundai Creta 1.6 VTVT Base', 'Maruti Ciaz VXi', 'Hyundai Elantra SX AT', 'Volkswagen Vento 1.5 TDI Highline Plus', 'Mercedes-Benz E-Class E240 V6 AT', 'Ford Ikon 1.4 ZXi', 'Mercedes-Benz B Class B180 Sport', 'Honda BR-V i-VTEC VX MT', 'Fiat Avventura Urban Cross 1.3 Multijet Emotion', 'Toyota Etios Liva VD', 'Mahindra Thar 4X4', 'Honda Amaze VX CVT i-VTEC', 'Hyundai Santro LS zipDrive Euro I', 'Ford EcoSport 1.5 Petrol Ambiente', 'Toyota Innova Crysta Touring Sport 2.4 MT'}

In [104]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [105]:
df = df.drop('New_Price', axis=1)

In [106]:
df = df.dropna(how='any')

In [107]:
df['Cars'] = df['Name'].str.split(" ").str[0] + ' ' +df['Name'].str.split(" ").str[1]

In [108]:
df['Mileage'] = df['Mileage'].str.replace(' kmpl','')
df['Mileage'] = df['Mileage'].str.replace(' km/kg','')
df['Engine'] = df['Engine'].str.replace(' CC','')
df['Power'] = df['Power'].str.replace('null bhp','112')
df['Power'] = df['Power'].str.replace(' bhp','')

In [109]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
Cars                 0
dtype: int64

In [110]:
df['Mileage'] = df['Mileage'].astype(float)
df['Mileage'] = df['Mileage'].astype(float)
df['Engine'] = df['Engine'].astype(float)
df['Power'] = df['Power'].astype(float)

In [111]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
Cars                 0
dtype: int64

In [112]:
test = test.drop('New_Price', axis=1)

In [113]:
test = test.drop('Unnamed: 0', axis=1)

In [114]:
test = test.dropna(how='any')

In [115]:
test['Cars'] = test['Name'].str.split(" ").str[0] + ' ' +test['Name'].str.split(" ").str[1]

In [116]:
set(test['Cars']).issubset(set(df['Cars']))
print("Missing values in first list:", (set(listtest).difference(listtrain)))

Missing values in first list: {'Mahindra KUV 100 D75 K8 5Str', 'Toyota Corolla Altis GL', 'Nissan Micra XL CVT', 'Tata Indica Vista Terra 1.2 Safire BS IV', 'Honda Civic 2010-2013 1.8 V AT', 'Hyundai i20 new Sportz AT 1.4', 'Mahindra Scorpio VLX 2WD BSIII', 'Maruti Wagon R VXI AMT Opt', 'Hyundai Accent GLX', 'Chevrolet Enjoy 1.4 LTZ 8', 'Hyundai i20 1.4 Asta AT (O) with Sunroof', 'Mercedes-Benz A Class Edition 1', 'Volkswagen Vento 1.2 TSI Comfortline AT', 'Chevrolet Enjoy Petrol LTZ 7 Seater', 'Isuzu MU 7 4x2 HIPACK', 'OpelCorsa 1.4Gsi', 'Chevrolet Spark 1.0 PS', 'Nissan Teana XL', 'Honda Civic 2010-2013 1.8 S MT Inspire', 'Mahindra Scorpio VLX Special Edition BS-IV', 'Maruti SX4 ZXI AT', 'Mercedes-Benz S Class 2005 2013 320 L', 'Mahindra Xylo H9', 'Maruti Ignis 1.2 AMT Delta', 'Maruti Ertiga VXI Petrol', 'Mahindra TUV 300 2015-2019 T8 AMT', 'Volkswagen Vento 1.6 Trendline', 'Renault Duster 85PS Diesel RxZ', 'Tata Tiago AMT 1.2 Revotron XTA', 'Fiat Punto EVO 1.3 Emotion', 'Mahindra Scorpio S10 8 Seater', 'Tata Indica V2 DiCOR DLG BS-III', 'Skoda Rapid Ultima 1.6 TDI Ambition Plus', 'Toyota Innova 2.5 GX 8 STR', 'Hyundai Xcent 1.2 CRDi SX', 'Hyundai Accent Executive LPG', 'Datsun GO T Petrol', 'Mercedes-Benz E-Class 250 D W 124', 'Maruti Ritz VDi ABS', 'Tata Indica Vista Aqua 1.2 Safire', 'BMW 7 Series 740i Sedan', 'Renault Lodgy 110PS RxL', 'Mahindra Xylo E9', 'Toyota Innova 2.0 V', 'Fiat Linea Dynamic', 'Hyundai Creta 1.6 SX Automatic', 'BMW 3 Series GT 320d Sport Line', 'Skoda Octavia 2.0 TDI MT Style', 'Mahindra Bolero SLX', 'Honda Mobilio V i VTEC', 'Tata Indica Vista Quadrajet LX', 'Mahindra TUV 300 P4', 'Ford Endeavour 3.0L AT 4x2', 'Volvo S60 D5 Kinetic', 'Honda BRV i-DTEC V MT', 'Toyota Etios Liva Diesel TRD Sportivo', 'Chevrolet Enjoy 1.3 TCDi LTZ 7', 'Renault Pulse RxZ', 'Tata Indica Vista Aqua TDI BSIII', 'Hyundai i20 Active SX Diesel', 'Hyundai EON 1.0 Era Plus', 'Tata Indica Vista Terra Quadrajet 1.3L BS IV', 'Jaguar XF 2.0 Petrol Portfolio', 'Hyundai Verna Transform VTVT with Audio', 'Volkswagen Vento 1.5 TDI Highline Plus AT', 'Hyundai Santro Xing GLS CNG', 'Bentley Flying Spur W12', 'Maruti 800 DX', 'Hyundai EON 1.0 Kappa Magna Plus', 'Mercedes-Benz GLA Class 220 d 4MATIC', 'Fiat Abarth 595 Competizione', 'Maruti Ciaz VDi Option SHVS', 'Toyota Camry MT with Moonroof', 'Audi Q3 30 TDI S Edition', 'Chevrolet Sail Hatchback 1.2', 'Hyundai Elantra GT', 'Ford Fiesta Classic 1.6 Duratec LXI', 'Land Rover Discovery 4 TDV6 Auto Diesel', 'Mitsubishi Pajero Sport 4X2 AT', 'Mahindra Verito Vibe 1.5 dCi D6', 'Mahindra KUV 100 mFALCON D75 K2', 'Tata Manza Club Class Safire90 LX', 'Honda City ZX VTEC Plus', 'Ford Fiesta Classic 1.6 SXI Duratec', 'Fiat Grande Punto 1.2 Emotion', 'Toyota Etios Cross 1.2L G', 'Mahindra KUV 100 G80 K4 Plus 5Str', 'Maruti Swift VVT ZXI', 'Audi Q5 2008-2012 3.0 TDI Quattro', 'Mahindra Scorpio SLX 2.6 Turbo 8 Str', 'Tata Tiago 1.05 Revotorq XT Option', 'Ford Fiesta 1.4 SXI Duratorq', 'Honda Jazz 2020 Petrol', 'Hyundai Verna 1.4 CX', 'Honda Amaze E i-DTEC', 'Maruti Vitara Brezza ZDi Plus AMT', 'Toyota Land Cruiser Prado VX L', 'Mahindra Scorpio VLS 2.2 mHawk', 'Tata Sumo EX 10/7 Str BSII', 'Hyundai Santro Xing XG AT eRLX Euro III', 'BMW X3 2.5si', 'Honda Jazz VX CVT', 'Hyundai Elite i20 Magna Plus', 'Mahindra KUV 100 mFALCON G80 K4 5str', 'Chevrolet Enjoy TCDi LS 7 Seater', 'BMW 5 Series 530i Sport Line', 'Fiat Avventura FIRE Dynamic', 'Ford Freestyle Titanium Plus Diesel', 'Hyundai Sonata Embera 2.4L MT', 'Hyundai Creta 1.6 SX Diesel', 'Maruti A-Star Zxi', 'Hyundai Tucson 2.0 e-VGT 4WD AT GLS', 'BMW 7 Series 730Ld DPE Signature', 'Fiat Linea Classic 1.3 Multijet', 'Volkswagen Jetta 2007-2011 1.6 Trendline', 'Skoda Laura 1.8 TSI Ambition', 'Toyota Innova 2.5 LE 2014 Diesel 8 Seater', 'Ford Classic 1.4 Duratorq CLXI', 'Honda BR-V i-DTEC S MT', 'Volkswagen Polo ALLSTAR 1.2 MPI', 'Skoda Laura 1.9 TDI MT Elegance', 'Mahindra KUV 100 mFALCON D75 K6 5str AW', 'Honda CR-V Diesel', 'Mahindra Bolero Power Plus ZLX', 'Land Rover Discovery 4 SDV6 SE', 'Maruti Vitara Brezza ZDi AMT', 'Land Rover Range Rover HSE', 'Hindustan Motors Contessa 2.0 DSL', 'Jeep Compass 1.4 Sport', 'Tata Tigor 1.2 Revotron XZ Option', 'Volkswagen CrossPolo 1.2 TDI', 'Maruti Swift AMT ZXI', 'Nissan 370Z AT', 'Honda Accord 2001-2003 2.3 VTI L MT', 'Renault Koleos 4X2 MT', 'Maruti Versa DX2', 'Skoda Laura L and K MT', 'Land Rover Freelander 2 S Business Edition', 'Skoda Superb Petrol Ambition', 'Mercedes-Benz B Class B180 Sports', 'Toyota Etios Liva 1.4 VXD', 'Nissan Terrano XE 85 PS', 'Hyundai i20 2015-2017 1.4 CRDi Sportz', 'Maruti Celerio X VXI Option', 'Mercedes-Benz CLA 45 AMG', 'Honda WRV i-DTEC VX', 'Honda City i DTec VX Option BL', 'Maruti Alto XCITE', 'Hyundai i20 2015-2017 Magna Optional 1.4 CRDi', 'Hyundai Verna Transform SX VGT CRDi BS III', 'Hyundai Creta 1.6 VTVT Base', 'Maruti Ciaz VXi', 'Hyundai Elantra SX AT', 'Volkswagen Vento 1.5 TDI Highline Plus', 'Mercedes-Benz E-Class E240 V6 AT', 'Ford Ikon 1.4 ZXi', 'Mercedes-Benz B Class B180 Sport', 'Honda BR-V i-VTEC VX MT', 'Fiat Avventura Urban Cross 1.3 Multijet Emotion', 'Toyota Etios Liva VD', 'Mahindra Thar 4X4', 'Honda Amaze VX CVT i-VTEC', 'Hyundai Santro LS zipDrive Euro I', 'Ford EcoSport 1.5 Petrol Ambiente', 'Toyota Innova Crysta Touring Sport 2.4 MT'}

In [117]:
test.drop(test[test['Cars'].isin(['Toyota Land', 'Hindustan Motors', 'Fiat Abarth', 'Nissan 370Z', 
                                  'Isuzu MU', 'Bentley Flying', 'OpelCorsa 1.4Gsi'])].index, inplace = True)

In [118]:
test['Mileage'] = test['Mileage'].str.replace(' kmpl','')
test['Mileage'] = test['Mileage'].str.replace(' km/kg','')
test['Engine'] = test['Engine'].str.replace(' CC','')
test['Power'] = test['Power'].str.replace('null bhp','112')
test['Power'] = test['Power'].str.replace(' bhp','')

In [119]:
test.isna().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Cars                 0
dtype: int64

In [120]:
test['Mileage'] = test['Mileage'].astype(float)
test['Mileage'] = test['Mileage'].astype(float)
test['Engine'] = test['Engine'].astype(float)
test['Power'] = test['Power'].astype(float)

In [121]:
test.isna().sum()

Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Cars                 0
dtype: int64

In [122]:
dffeature=['Cars','Location','Year', 'Kilometers_Driven','Fuel_Type','Transmission', 
           'Owner_Type','Mileage','Engine','Power','Seats','Price']
df = pd.DataFrame(df, columns=dffeature)

testfeature = ['Cars','Location','Year','Kilometers_Driven','Fuel_Type','Transmission', 
            'Owner_Type','Mileage','Engine','Power','Seats']
test = pd.DataFrame(test, columns=testfeature)

# Data Analysis